
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  position: relative;
  width: 100%;
}
.desktop-1-WPb {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #6e8a3d;
}
.desktop-1-WPb .auto-group-q13w-8Qy {
  box-sizing: border-box;
  padding: 4.3rem 4.3rem 17.665rem 3.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV {
  margin: 0rem 26.5rem 10.3rem 26.9rem;
  box-sizing: border-box;
  padding: 0.6rem 4.1rem 0.2rem 4.3rem;
  width: calc(100% - 53.4rem);
  height: 3.6rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-ffxo-zzu {
  margin: 0.1rem 8.15rem 0.1rem 0rem;
  width: 9.8rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-ffxo-zzu .biography-WTT {
  width: 9.8rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #000000;
  font-family: Sen, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-ffxo-zzu .frame-2-wYm {
  width: 9.6rem;
  height: 2.6rem;
  cursor: pointer;
  position: absolute;
  left: 0.1rem;
  top: 0;
  overflow: hidden;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-ddjr-4dP {
  margin-right: 7.8rem;
  width: 21.35rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-ddjr-4dP .skill-and-achievment-c97 {
  width: 20.8rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #000000;
  font-family: Sen, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-ddjr-4dP .frame-5-hRT {
  width: 21.3rem;
  height: 2.8rem;
  cursor: pointer;
  position: absolute;
  left: 0.05rem;
  top: 0;
  overflow: hidden;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-mauz-S89 {
  margin: 0.1rem 6.4rem 0.1rem 0rem;
  width: 11.3rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-mauz-S89 .experience-xcH {
  width: 10.4rem;
  height: 2.5rem;
  position: absolute;
  left: 0.45rem;
  top: 0.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #000000;
  font-family: Sen, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-mauz-S89 .frame-4-Gcy {
  width: 11.3rem;
  height: 2.6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-v8av-cwj {
  margin: 0.2rem 0rem 0.1rem 0rem;
  width: 9.3rem;
  height: calc(100% - 0.3rem);
  position: relative;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-v8av-cwj .portfolio-YKb {
  width: 8.4rem;
  height: 2.5rem;
  position: absolute;
  left: 0.45rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #000000;
  font-family: Sen, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-2-9UV .auto-group-v8av-cwj .frame-6-Fjo {
  width: 9.3rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-5vhk-ALy {
  margin: 0rem 10.3rem 11.9rem 10.2rem;
  width: calc(100% - 20.5rem);
  height: 45rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-5vhk-ALy .auto-group-gwcr-k4H {
  margin-right: 10.6rem;
  width: 45rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-5vhk-ALy .auto-group-gwcr-k4H .ellipse-1-gid {
  width: 42rem;
  height: 42rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  border-radius: 21rem;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-5vhk-ALy .auto-group-gwcr-k4H .ellipse-2-ppq {
  width: 45rem;
  height: 45rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 22.5rem;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-5vhk-ALy .auto-group-gwcr-k4H .group-3-mk5 {
  box-sizing: border-box;
  padding: 2.9rem 4.5rem 3rem 4.5rem;
  width: 33rem;
  height: 42.3rem;
  position: absolute;
  left: 1.8rem;
  top: 1.7rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-5vhk-ALy .auto-group-gwcr-k4H .group-3-mk5 .foto-1-gs3 {
  width: 24rem;
  height: 36.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-5vhk-ALy .group-1-wRb {
  margin: 8.5rem 0rem 9.2rem 0rem;
  height: calc(100% - 17.7rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-5vhk-ALy .group-1-wRb .tsabitah-inan-aidah-eqo {
  margin-bottom: 1.7rem;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-5vhk-ALy .group-1-wRb .this-is-a-little-about-me-and-my-practical-field-work-activities-at-pt-ezy-industries-mfX {
  margin-right: 0.4rem;
  max-width: 46.1rem;
  text-align: right;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #ffffff;
  font-family: Sen, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .biography-inan-bPf {
  margin: 0rem 0rem 7.6rem 0.1rem;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-hyeu-Jos {
  margin: 0rem 10.2rem 10.8rem 10.7rem;
  width: calc(100% - 20.9rem);
  height: 51.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-hyeu-Jos .group-4-Ar5 {
  margin-right: 17.1rem;
  box-sizing: border-box;
  padding: 3.3rem 3.3rem 2rem 4.4rem;
  width: 52.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-hyeu-Jos .group-4-Ar5 .family-fnq {
  margin: 0rem 1.2rem 3.2rem 0rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.3325;
  color: #000000;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-hyeu-Jos .group-4-Ar5 .saya-tsabitah-inan-aidah-biasa-dipanggil-inan-lahir-10-november-2005-anak-pertama-dari-dua-bersaudara-orang-tua-saya-samsul-hadi-sugiarto-dan-leni-anisa-ayah-saya-bekerja-karyawan-swasta-dan-ibu-saya-sebagai-ibu-rumah-tangga-adik-saya-masih-duduk-dibangku-kelas-4-sekolah-dasar-z4R {
  max-width: 44.6rem;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #000000;
  font-family: Sen, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-hyeu-Jos .femeli-1-hd3 {
  width: 45.6rem;
  height: 51.6rem;
  position: relative;
  background-size: 100% 196.11%;
  background-position: -0.354rem -17.1421rem;
  background-image: url('../assets/femeli-1.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-7-BHK {
  margin: 0rem 10.2rem 10.8rem 10.7rem;
  box-sizing: border-box;
  padding: 4.6rem 7.5rem 7.6rem 7rem;
  width: calc(100% - 20.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-7-BHK .school-tBj {
  margin: 0rem 0rem 2.9rem 54.3rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.3325;
  color: #000000;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-7-BHK .auto-group-eqj7-QA5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-7-BHK .auto-group-eqj7-QA5 .school-removebg-preview-1-ZHs {
  margin-right: 8.1rem;
  width: 41.1rem;
  height: 27.2rem;
  position: relative;
  background-size: 121.654% 183.824%;
  background-position: -4.33rem -11.3143rem;
  background-image: url('../assets/school-removebg-preview-1.png');
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-7-BHK .auto-group-eqj7-QA5 .saat-berumur-7-tahun-saya-mulai-sekolah-di-sdn-blimbing-3-malang-melanjutkan-pendidikan-di-smpn-11-malang-sekarang-di-smkn-8-malang-duduk-dibangku-kelas-12-sewaktu-sd-saya-pernah-mengikuti-lomba-kesenian-musik-tradisional-namun-sejak-lulus-sd-saya-tidak-melanjutkan-kesenian-tersebut-3iq {
  margin-top: 0.4rem;
  max-width: 51.3rem;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #000000;
  font-family: Sen, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-8-pND {
  margin: 0rem 10.2rem 14.2rem 10.7rem;
  box-sizing: border-box;
  padding: 4.2rem 11.7rem 6.7rem 10.7rem;
  width: calc(100% - 20.9rem);
  height: 39.3rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-8-pND .auto-group-aw7w-6ad {
  margin-right: 19.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-8-pND .auto-group-aw7w-6ad .home-EB3 {
  margin: 0rem 0.144rem 2.7rem 0rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.3325;
  color: #000000;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-8-pND .auto-group-aw7w-6ad .sekarang-saya-tinggal-di-perumahan-bulan-terang-utama-uj-33-11madyopuro-kedungkandang-malang-bersama-kedua-orang-tua-dan-adik-sejak-tahun-2014-YSd {
  max-width: 39.7rem;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #000000;
  font-family: Sen, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-8-pND .rumah-removebg-preview-1-DHs {
  margin-top: 1.3rem;
  width: 33.8rem;
  height: 25.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .inans-skill-and-achievement-55B {
  margin: 0rem 0rem 7.9rem 1.5rem;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-mkky-mTo {
  margin: 0rem 14.6rem 6.8rem 15.1rem;
  width: calc(100% - 29.7rem);
  height: 41rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-mkky-mTo .auto-group-4r6r-5zH {
  margin-right: 5.6005rem;
  box-sizing: border-box;
  padding: 10.7rem 7.45rem 10.3rem 5.15rem;
  width: 41rem;
  height: 100%;
  background-color: #53682d;
  border-radius: 20.5rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-mkky-mTo .auto-group-4r6r-5zH .membuat-grafik-naik-dalam-nilai-rapor-berhasil-mendesain-melalui-figma-bisa-nyetir-motor-ag9 {
  max-width: 28.4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-mkky-mTo .octicon-arrow-both-16-FXP {
  margin: 0.1rem 5.701rem 0rem 0rem;
  width: 12.8989rem;
  height: 5.5254rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-mkky-mTo .auto-group-nngz-Zny {
  box-sizing: border-box;
  padding: 13.9rem 9.25rem 15.1rem 8.95rem;
  width: 41rem;
  height: 100%;
  background-color: #53682d;
  border-radius: 20.5rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-mkky-mTo .auto-group-nngz-Zny .design-ui-ux-soft-engineering-canva-design-6nu {
  max-width: 22.8rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-qrsd-19B {
  margin: 0rem 28.1rem 11.4rem 17.5rem;
  width: calc(100% - 45.6rem);
  height: 6.9rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-qrsd-19B .auto-group-hlmo-j5B {
  margin-right: 42.3rem;
  width: 33.8rem;
  height: 6.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-qrsd-19B .auto-group-hlmo-j5B .rectangle-4-2KB {
  width: 33.8rem;
  height: 6.7rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #53682d;
  border-radius: 1.8rem;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-qrsd-19B .auto-group-hlmo-j5B .achievement-MMT {
  width: 29.4rem;
  height: 6.7rem;
  position: absolute;
  left: 2.2rem;
  top: 0;
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-qrsd-19B .auto-group-bgwm-TvH {
  width: 14.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-qrsd-19B .auto-group-bgwm-TvH .rectangle-5-nhf {
  width: 14.2rem;
  height: 6.7rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #53682d;
  border-radius: 1.8rem;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-qrsd-19B .auto-group-bgwm-TvH .skill-KBo {
  width: 10.1rem;
  height: 6.7rem;
  position: absolute;
  left: 2.25rem;
  top: 0;
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-WPb .auto-group-q13w-8Qy .inans-experience-puF {
  margin: 0rem 0.6rem 9.5rem 0rem;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-9-X2y {
  margin: 0rem 15.806rem 10.838rem 15.5rem;
  width: calc(100% - 31.3056rem);
  height: 56.3622rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-9-X2y .rectangle-7-eNV {
  width: 100.8592rem;
  height: 51.2047rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-9-X2y .rectangle-8-amw {
  width: 102.1944rem;
  height: 53.5622rem;
  position: absolute;
  left: 2.4rem;
  top: 2.8rem;
  background-color: #53682d;
  border-radius: 1rem;
}
.desktop-1-WPb .auto-group-q13w-8Qy .group-9-X2y .saya-magang-di-pt-ezy-industries-tepatnya-di-utter-academy-alamatnya-di-jl-kauman-no-21-pt-ini-berada-dibidang-it-yang-dibimbing-oleh-ilham-sambudi-dan-dibawah-pimpinan-muhammad-edo-saat-pertama-magang-hal-yang-paling-sulit-dilakukan-adalah-adaptasi-butuh-1-bulan-lebih-sampai-akhirnya-bisa-adaptasi-dengan-baik-dan-nyaman-dengan-lingkungan-baru-selama-magang-ini-banyak-pengalaman-selain-adaptasi-saya-jadi-tahu-bagaimana-caranya-desain-ui-ux-menggunakan-figma-mengikuti-kegiatan-start-up-berada-di-lingkungan-kerja-lebih-paham-lagi-dengan-coding-dan-lain-sebagainya-idF {
  width: 87.3rem;
  height: 40rem;
  position: absolute;
  left: 11.0279rem;
  top: 9.6rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.desktop-1-WPb .auto-group-q13w-8Qy .inans-portfolio-BQM {
  margin: 0rem 0rem 6.7rem 0.5rem;
  text-align: center;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-umi1-sny {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-umi1-sny .screenshot-2023-11-02-105715-1-dn9 {
  margin-right: 1 rem;
  width: 50rem;
  height: 33.000rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-umi1-sny .screenshot-2023-11-02-105737-1-uzZ {
  margin-right: 4 rem;
  width: 50rem;
  height: 33.000rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-q13w-8Qy .auto-group-umi1-sny .screenshot-2023-11-02-105737-2-2pH {
  width: 50rem;
  height: 33.000rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR {
  box-sizing: border-box;
  padding: 2.8rem 7.8rem 4.1rem 7.9rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #445626;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .contact-me-HkD {
  margin: 0rem 22.8rem 2.3rem 0rem;
  margin-left: 20rem;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 1.2025;
  color: #ffffff;
  font-family: Sen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb {
  margin: 0rem 15.9rem 1.3rem 0rem;
  width: calc(100% - 15.9rem);
  height: 11.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-hyvo-YRF {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-hyvo-YRF .tsabitah-5AH {
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-hyvo-YRF .inan-aidah-1Zj {
  margin-right: 1.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #ffffff;
  font-family: Sen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-mlam-jkd {
  box-sizing: border-box;
  padding: 0.5rem 0rem 0.5rem 62.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-mlam-jkd .auto-group-efqk-53o {
  margin: 0rem 2.1rem 1.183rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-mlam-jkd .auto-group-efqk-53o .bi-telephone-PKP {
  margin-bottom: 3.3833rem;
  width: 3.0001rem;
  height: 3.0001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-mlam-jkd .auto-group-efqk-53o .mdi-instagram-8Gy {
  margin-left: 0.0001rem;
  width: 2.8333rem;
  height: 2.8333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-mlam-jkd .auto-group-rogd-qx5 {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-mlam-jkd .auto-group-rogd-qx5 .item-082136146710-Pyb {
  margin-bottom: 2.8rem;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #ffffff;
  font-family: Sen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-8rn5-cXb .auto-group-mlam-jkd .auto-group-rogd-qx5 .inaanaii-vCq {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #ffffff;
  font-family: Sen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-gjg1-FF7 {
  margin-left: 88.775rem;
  width: calc(100% - 88.775rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-gjg1-FF7 .ic-outline-email-ziV {
  margin-right: 2.175rem;
  width: 2.75rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-WPb .auto-group-xpwb-ZJR .auto-group-gjg1-FF7 .tsabitah1357gmailcom-JUH {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2025;
  color: #ffffff;
  font-family: Sen, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
